body {
  background-image: url('https://images.unsplash.com/photo-1512820790803-83ca734da794');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #f4a45fc9;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}